<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
<form>
  <div class="form-group">
  <label for="textarea">プロフィール</label><br>
  <%= f.text_area :body %>
  </div>
  
  <div class="form-group">
  <label for="age">年　齢</label><br>
  <%= f.text_field :age %>
  </div>

  <div class="form-group">
  <label for="name">活動地域</label><br>
  <%= f.text_field :location %>
  </div>


  
  <%= f.submit class: "btn btn-sm btn-primary" %>
  </form>
<% end %>